body {
    font-family: "Raleway";
    font-size: 16px;
}

div.top {
    background: url(../img/background.svg) no-repeat top left;
    background-size: contain;
    width: 100%;
    height: 400px;
    background-size: 100%;
}

header {
    height: 75px;
    background-color:rgba(0,0,0,0.3); 
    color: #fff;
    position: absolute;
    z-index: 10;
    width: 100%;
}

header h1 {
    font-size: 2em;
    margin: 0;
    padding: .5em;
}

.topNav {
    height: 65px;
    background-color:rgba(0,0,0,0.3);
}


footer {
    font-size: .75em;
    background: #666;
    color: #fff;
    padding: 1.5em 10px;
    margin-top: 2em;
}

footer p {
    
}

.breadcrumbs {
    margin: 1em 0;
    display: block;
    font-size: .85em;
}
