@font-face {
    font-family: Entypo;
    src: url(../fonts/entypo.woff);
}

body {
    font-family: "Raleway";
    font-size: 16px;
}

a:link, a:visited {
    color: #ee6809;
}

.entypo {
    font-family: Entypo;
}

div.top {
    background: url(../img/background.svg) no-repeat top left;
    background-size: contain;
    width: 100%;
    height: 400px;
    background-size: 100%;
}

header {
    height: 75px;
    background-color:rgba(0,0,0,0.3); 
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    padding-left: 85px;
}

header h1 {
    font-size: 2em;
    margin: 0;
    padding: .5em;
}

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 75px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 5em;
    line-height: 0.5em;
    padding: 0 20px;
    color: #fff;
}

.menu a:link, .menu a:visited {
    color: #fff;
}

.sideMenu {
    background: #666;
    padding-top: 2em;
}

.sideMenu ul {
    padding-left: 1em;
}

.sideMenu ul li {
    list-style: none;
    color: #fff;
    padding: .5em;
}

.sideMenu ul li a:link, .sideMenu ul li a:visited {
    color: #fff;
}

.sideMenu ul#login {
    position: absolute;
    width: 100%;
    background: none repeat scroll 0% 0% #444;
    height: 100px;
    bottom: -10px;
    padding-top: .5em;
}


.topNav {
    height: 65px;
    background-color:rgba(0,0,0,0.3);
}


footer {
    font-size: .75em;
    background: #666;
    color: #fff;
    padding: 1.5em 10px;
    margin-top: 2em;
}

footer p {
    
}

.breadcrumbs {
    margin: 1em 0;
    display: block;
    font-size: .85em;
}

.left {
    padding-right: 1.5em;
    border-right: 1px solid #ccc;
}


form p {
    text-align: right;
}

textarea { 
    resize:vertical; 
    width: 55%;
}

form.contentSubmit input, form.contentSubmit select {
    width: 55%;
}

div.search {
    display: inline-block;
    text-align: right;
}

div.search input {
    width: 80%;
}

div.search span{
    font-family: Entypo;
}

article.library {
    border-top: 3px solid #ccc;
    padding: 0 1.5em 1.5em;
}

article.library ul {
    padding-left: 0;
}

article.library ul li {
    list-style: none;
}

article.library ul li.synopsis {
    margin-top: .75em;
}


/* MEDIA QUERIES */

@media only screen and (max-width : 992px) {

    div.sidebar {
        display: none;
    }
    
}


/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #989898;
		border-radius: 5px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 2.75em;
		line-height: 2.75em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #a5a5a5;
			color: #ffffff !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: #8b8b8b;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			display: block;
			margin: 0 0 1.125em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #e4e4e4;
			color: #777 !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			.button.alt:hover {
				background-color: #EE6809;
				color: #fff !important;
                text-decoration: none;
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			.button.alt:active {
				background-color: #eaeaea;
			}

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			.button.alt.icon:before {
				color: #aaa;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		.button.special {
			background-color: #4acaa8;
			color: #ffffff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			.button.special:hover {
				background-color: #5ed0b1;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			.button.special:active {
				background-color: #39c29d;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #888 !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #fff !important;
			cursor: default;
			opacity: 0.25;
		}

